.profile {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-repeat: none;
  color: black;
  padding: 15px;
  border-radius: 10px;
}
.name{
  color: rgb(255, 0, 0) !important;
  border: none !important;
  padding: 0 !important;
}
